<div class="page-header">
  <h1>Edit Beer</h1>
</div>

<%= form_for(beer, {action: beerPath({ beer_id: beer.ID }), method: "PUT"}) { %>
  <%= partial("beers/form.html") %>
  <a href="<%= beerPath({ beer_id: beer.ID }) %>" class="btn btn-warning" data-confirm="Are you sure?">Cancel</a>
<% } %>
