<div class="page-header">
  <h1>Beers</h1>
</div>
<ul class="list-unstyled list-inline">
  <li><a href="<%= newBeersPath() %>" class="btn btn-primary">Create New Beer</a></li>
</ul>

<table class="table table-striped">
  <thead>
  <th>Name</th>
    <th>Description</th>
    <th>Image</th>
    <th>Abv</th>
    <th>Tier</th>
    <th>Ontap</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (beer) in beers { %>
      <tr>
      <td><%= beer.Name %></td>
        <td><%= beer.Description %></td>
        <td><%= beer.Image %></td>
        <td><%= beer.Abv %></td>
        <td><%= beer.Tier %></td>
        <td><%= beer.Ontap %></td>
        <td>
          <div class="pull-right">
            <a href="<%= beerPath({ beer_id: beer.ID }) %>" class="btn btn-info">View</a>
            <a href="<%= editBeerPath({ beer_id: beer.ID }) %>" class="btn btn-warning">Edit</a>
            <a href="<%= beerPath({ beer_id: beer.ID }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
