<div class="page-header">
  <h1>New Beer</h1>
</div>

<%= form_for(beer, {action: beersPath(), method: "POST"}) { %>
  <%= partial("beers/form.html") %>
  <a href="<%= beersPath() %>" class="btn btn-warning" data-confirm="Are you sure?">Cancel</a>
<% } %>
