<div class="page-header">
  <h1>Beer#Show</h1>
</div>

<ul class="list-unstyled list-inline">
  <li class="list-inline-item"><a href="<%= beersPath() %>" class="btn btn-info">Back to all Beers</a></li>
  <li class="list-inline-item"><a href="<%= editBeerPath({ beer_id: beer.ID })%>" class="btn btn-warning">Edit</a></li>
  <li class="list-inline-item"><a href="<%= beerPath({ beer_id: beer.ID })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
</ul>

<p>
  <strong>Name</strong>: <%= beer.Name %>
</p>
<p>
  <strong>Description</strong>: <%= beer.Description %>
</p>
<p>
  <strong>Image</strong>: <%= beer.Image %>
</p>
<p>
  <strong>Abv</strong>: <%= beer.Abv %>
</p>
<p>
  <strong>Tier</strong>: <%= beer.Tier %>
</p>
<p>
  <strong>Ontap</strong>: <%= beer.Ontap %>
</p>
