<div class="row">
  <div class="col-md-12">
    <div class="subtitle">
      <div class="container">
        <h3>Defined Routes</h3>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr text-align="left">
            <th class="centered">METHOD</th>
            <th>PATH</th>
            <th>NAME</th>
            <th>HANDLER</th>
          </tr>
        </thead>
        <tbody>

          <%= for (r) in routes { %>
            <tr>
              <td class="centered">
                <%= r.Method %>
              </td>
              <td>
                <%= if (r.Method != "GET" || r.Path ~= "{") { %>
                  <%= r.Path %>
                <% } else { %>
                  <a href="<%= r.Path %>"><%= r.Path %></a>
                <% } %>
              </td>
              <td>
                <%= r.PathName %>
              </td>
              <td><code><%= r.HandlerName %></code></td>
            </tr>
          <% } %>

        </tbody>
      </table>
    </div>
  </div>
</div>
